aiohttp==3.9.5
beautifulsoup4==4.12.3
ffmpeg-python==0.2.0
Flask==1.1.4
langchain==0.1.0
matplotlib==3.6.2
numpy==1.20.0
openai==1.25.2
openai-whisper==20240930
pandas==1.4.0
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.4.1.post1
scipy==1.12.0
selenium==4.20.0
streamlit==1.12.0
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
transformers==4.48.0
